
  <!-- Content Wrapper. Contains page content -->
  
      <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="d-flex align-items-center">
        <div class="mr-auto">
          <h3 class="page-title">Banner</h3>
          <div class="d-inline-block align-items-center">
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                <li class="breadcrumb-item" aria-current="page">Banner</li>
                <li class="breadcrumb-item active" aria-current="page">Add</li>
              </ol>
            </nav>
          </div>
        </div>
        <!--div class="right-title">
          <div class="dropdown">
            <button class="btn btn-outline dropdown-toggle no-caret" type="button" data-toggle="dropdown"><i class="mdi mdi-dots-horizontal"></i></button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#"><i class="mdi mdi-share"></i>Activity</a>
              <a class="dropdown-item" href="#"><i class="mdi mdi-email"></i>Messages</a>
              <a class="dropdown-item" href="#"><i class="mdi mdi-help-circle-outline"></i>FAQ</a>
              <a class="dropdown-item" href="#"><i class="mdi mdi-settings"></i>Support</a>
              <div class="dropdown-divider"></div>
              <button type="button" class="btn btn-success">Submit</button>
            </div>
            </div>
        </div-->
      </div>
    </div>
<section class="content">
     
    <!-- Basic Forms -->
     <div class="box">
       <div class="box-header with-border">
         <h4 class="box-title">Form Validation</h4>
         <h6 class="box-subtitle">Bootstrap Form Validation check the <a class="text-warning" href="http://reactiveraven.github.io/jqBootstrapValidation/">official website </a></h6>
     
     <ul class="box-controls pull-right">
       <li><a class="box-btn-close" href="#"></a></li>
       <li><a class="box-btn-slide" href="#"></a></li>	
       <li><a class="box-btn-fullscreen" href="#"></a></li>
     </ul>
       </div>
       <!-- /.box-header -->
       <div class="box-body">
         <div class="row">
           <div class="col">
             <form (submit)="saveBanner()" enctype="multipart/form-data" method="post">
         <div class="row">
         <div class="col-12">	

           <div class="form-group">
             <h5>Caption <span class="text-danger">*</span></h5>
             <div class="controls">
               <input type="text" name="caption"  [(ngModel)]="bannerData.caption" class="form-control" required data-validation-required-message="This field is required"> </div>
             <!---div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
             -->
            </div>

            <div class="form-group">
                <h5>Upload Type<span class="text-danger">*</span></h5>
                <div class="controls">
                  <select name="uploadType" id="uploadType" required class="form-control" [(ngModel)]="bannerData.type" >
                      <option *ngFor="let t of typeOptions" value="{{t.value}}">{{t.name}}</option>
                  </select>
                </div>
              </div>
            
              <div *ngIf="bannerData.type==1" class="form-group">
                <h5>Upload file<span class="text-danger">*</span></h5>
                <div class="controls">
                  <input type="file" name="file" class="form-control" required (change)="onFileChange($event)"> </div>
              </div>

           <div *ngIf="bannerData.type==2" class="form-group">
             <h5>URL<span class="text-danger">*</span></h5>
             <div class="controls">
               <input type="url" name="path" class="form-control" required data-validation-required-message="This field is required" [(ngModel)]="bannerData.path"> </div>
           </div>

           <div class="form-group">
              <h5>Link To<span class="text-danger">*</span></h5>
              <div class="controls">
                <fieldset>
                  <input name="linkTo" type="radio" id="linkTo1" value="0" required [(ngModel)]="bannerData.linkedTo" >
                  <label for="linkTo1">None</label>
                </fieldset>
                <fieldset>
                  <input name="linkTo" type="radio" id="linkTo2" value="1" [(ngModel)]="bannerData.linkedTo" >
                  <label for="linkTo2">Product</label>
                </fieldset>
                <fieldset>
                    <input name="linkTo" type="radio" id="linkTo3" value="2" [(ngModel)]="bannerData.linkedTo">
                    <label for="linkTo3">Event</label>
                  </fieldset>
              </div>
            </div>

            <div *ngIf =  "bannerData.linkedTo==1" class="form-group">
                <h5>Select Product<span class="text-danger">*</span></h5>
                <div class="controls">
                  <select name="productSel" id="productSel" required class="form-control">
                      <option *ngFor="let p of linkToList['products']" value="{{p}}">{{p}}</option>
                  </select>
                </div>
              </div>

              <div *ngIf =  "bannerData.linkedTo==2" class="form-group">
                  <h5>Select Events<span class="text-danger">*</span></h5>
                  <div class="controls">
                    <select name="eventSel" id="eventSel" required class="form-control" >
                        <option *ngFor="let e of linkToList['events']" value="{{e}}">{{e}}</option>
                    </select>
                  </div>
                </div>
             
           
          </div>

        </div>
         
         
         
         <div class="text-xs-right">
           <button type="submit" class="btn btn-info">Submit</button>
         </div>
       </form>
             
           </div>
           <!-- /.col -->
         </div>
         <!-- /.row -->
       </div>
       <!-- /.box-body -->
     </div>
     <!-- /.box -->
     
   </section>
   <!-- /.content -->
