<div class="content-header">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="page-title">User Uploads</h3>
      <div class="d-inline-block align-items-center">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
            <li class="breadcrumb-item" aria-current="page">User Uploads</li>
            <li class="breadcrumb-item active" aria-current="page">List</li>
          </ol>
        </nav>
      </div>
    </div>
    
  </div>
</div>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-12">
        <div class="box">
          
            <!-- /.box-header -->
          <div class="box-body">
				<div class="table-responsive">
            <app-action-message *ngIf="actionStatus==1" [type]="1" [message]="successMessage" >
              </app-action-message>
    
              <app-action-message *ngIf="actionStatus==2" [type]="2" [message]="errorMessage" >
                </app-action-message>

                <app-action-message *ngIf="!bannerData || bannerData.length==0" [type]="3" [message]="noRecordMessage" >
                </app-action-message>

                <div class="">
                <div class="col-md-4 col-lg-4">		
                  <div class="card">
                    <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-4 col-lg-4">
                  <div class="card text-center">
                    <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-4 col-lg-4">
                  <div class="card text-right">
                    <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                    </div>
                    <!-- /.col -->
                    </div>
				</div>              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->  
    </div>
  </div>
</section>


