

          <!-- Content Header (Page header) -->

          <div class="content-header">

              <div class="d-flex align-items-center">

                  <div class="mr-auto">

                      <h3 class="page-title">TGM uploads</h3>

                  </div>

              </div>

          </div>



          <!-- Main content -->

          <section class="content">

            

              <div class="row">              

                  <div class="col-12">

                      <div class="box">

                          <div class="box-header">

                            <div class="row">

                                    <div class="col-md-6 col-12">

                                        <div class="form-group" *ngIf="tgmSelected.length!=0 &&  tgmSelected.length!=tgmList.length" >
                                         
                                            <input type="checkbox" name="show-all" id="show-all" [checked] = "false" value=1 [(ngModel)]="showAll" (click)="toggleShowAll()"  >
                                            <label class="text-info" for="show-all">
                                                Show All
                                            </label>
                                        </div>

                                        <div class="form-group" *ngIf="tgmSelected.length==0 || tgmSelected.length==tgmList.length" >
                                            <input type="checkbox" name="show-all" id="show-all" [checked] = "true" value=1 [(ngModel)]="showAll" (click)="toggleShowAll()" >
                                            <label class="text-info" for="show-all">
                                                Show All
                                            </label>
                                        </div>

                                        <div class="form-group">

                                            <label class="text-info">Select TGM</label>

                                            <div class="form-group">
                                                <select class="form-control" multiple="multiple" data-placeholder="Select a TGM" [(ngModel)] ="tgmSelected" >
                                                    
                                                    <option *ngFor="let user of tgmList" value="{{user.id}}"  >{{user.first_name}} {{user.last_name}}</option>
                                                </select>

                                            </div>

                                            <!-- /.form-group -->

                                        </div>

                                        <!-- /.form-group -->

                                        <div class="form-group">
                                                <button type="button" (click) = "loadData()" class="btn btn-nblue btn-outline mr-1" [disabled] = "tgmSelected_final==tgmSelected " > 
                                                    <i class="ti-search-alt"></i> Search
                                                </button>
                                        </div>

                                    </div>

                                    <!-- /.col -->

                                    <!--div class="col-md-6 col-12">

                                        <div class="form-group pull-right">

                                            <label class="text-info">Search</label>

                                            <div class="form-group lookup">

                                                <div>

                                                    <input type="text" data-provide="media-search">

                                                </div>

                                            </div>

                                        </div>

                                    </div-->

                                    <!-- /.col -->

                                </div>

                          </div>

                          <div class="box-body">

                              <div class="form-body neev-inner-content-div">


                                  <ul class="nav nav-tabs" role="tablist">



                                      <li class="nav-item">

                                          <a class="nav-link active" data-toggle="tab" href="#imagegallery" role="tab"><span><i class="fa fa-image"></i> Images</span></a>

                                      </li>

                                      <li class="nav-item">

                                          <a class="nav-link" data-toggle="tab" href="#videos" role="tab"><span><i class="fa fa-file-video-o"></i> Videos</span></a>

                                      </li>



                                      <li class="nav-item">

                                          <a class="nav-link" data-toggle="tab" href="#docs" role="tab"><span><i class="fa  fa-file-o"></i> Documents</span></a>

                                      </li>

                                  </ul>



                                  <!-- Tab panes -->

                                  <div class="tab-content tabcontent-border">



                                  <div class="tab-pane active show" id="imagegallery" role="tabpanel">

                                    <div *ngIf="!imagesUpload || imagesUpload.length==0">
                                            {{noImageUploads}}
                                        </div>
                                      <div class="pad">



                                          <div id="image-popups" class="row">
                                              

                                              <!--div class="col-sm-2" *ngFor="let imageUpload of imagesUpload">

                                                  <a href="javascript:void(0)" (click)="popImage(baseURL+imageUpload.upload_path, 0)" data-effect="mfp-zoom-in"><img src="{{baseURL}}{{imageUpload.upload_path}}" class="img-responsive" alt="">

                                                    <br>{{imageUpload.title}}</a>

                                              </div-->
                                              <table class="as-data-table-2 table table-bordered table-hover display nowrap margin-top-10 w-p100">
                                                    <thead>
                                                        <tr class="bg-secondary">
                                                            <th>TGM ID</th>
                                                            <th>File</th>
                                                            <th>Uploaded By</th>
                                                            <th>Date</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                
                                                    <tbody>
                                                
                                                        <tr *ngFor="let imageUpload of imagesUpload; let i = index">
                                                            <td>{{imageUpload.tgmId}}</td>
                                                            <td>
                                                                <a href="javscript:void(0)" (click)="showPopUp(1,baseURL+imageUpload.upload_path )" >
                                                                    <img src="{{baseURL}}{{imageUpload.upload_path}}" class="img-responsive" alt="">
                                                                </a>
                                                            </td>
                                                            <td>{{ getTgmName(imageUpload.tgmId) }}</td>
                                                            <td>{{imageUpload.created_at | date:medium}}</td>
                                                
                                                            <td>
                                                                <div class="media-right gap-items">
                                                                    
                                                                    <a href="javascript:void(0)" class="btn btn-outline btn-nblue" data-original-title="Delete" data-toggle="tooltip" (click) = "deleteUpload(imageUpload.id, i)" ><i class="ti-trash"></i></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                          </div>

                                      </div>



                                  </div>

                                      <div class="tab-pane show" id="videos" role="tabpanel">

                                        <div *ngIf="!videoUploads || videoUploads.length==0">
                                            {{noVideoUploads}}
                                        </div>
                                        <table class="as-data-table table table-bordered table-hover display nowrap margin-top-10 w-p100">
                                            <thead>
                                                <tr class="bg-secondary">
                                                    <th>TGM ID</th>
                                                    <th>File</th>
                                                    <th>Uploaded By</th>
                                                    <th>Date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                        
                                            <tbody>
                                        
                                                <tr *ngFor="let video of videoUploads; let i = index">
                                                    <td>{{video.tgmId}}</td>
                                                    <td>
                                                            <a href="javscript:void(0)" (click)="showPopUp(2,baseURL+video.upload_path)" > 
                                                                {{video.actual_name}}
                                                            </a>
                                                    </td>
                                                    <td>{{ getTgmName(video.tgmId) }}</td>
                                                    <td>{{video.created_at | date:medium}}</td>
                                        
                                                    <td>
                                                        <div class="media-right gap-items">
                                                            
                                                            <a href="javascript:void(0)" class="btn btn-outline btn-nblue" data-original-title="Delete" data-toggle="tooltip" (click) = "deleteUpload(imageUpload.id, i)" ><i class="ti-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                      </div>

                                      <div class="tab-pane show" id="docs" role="tabpanel">

                                        <div *ngIf="!docUploads || docUploads.length==0">
                                                {{noDocUploads}}
                                        </div>
                                        <table class="as-data-table table table-bordered table-hover display nowrap margin-top-10 w-p100">
                                            <thead>
                                                <tr class="bg-secondary">
                                                    <th>TGM ID</th>
                                                    <th>File</th>
                                                    <th>Uploaded By</th>
                                                    <th>Date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                        
                                            <tbody>
                                        
                                                <tr *ngFor="let doc of docUploads; let i = index">
                                                    <td>{{doc.tgmId}}</td>
                                                    <td>
                                                       <a href="{{baseURL}}{{doc.upload_path}}">{{doc.actual_name}}</a>
                                                    </td>
                                                    <td>{{ getTgmName(doc.tgmId) }}</td>
                                                    <td>{{doc.created_at | date:medium}}</td>
                                        
                                                    <td>
                                                        <div class="media-right gap-items">
                                                            
                                                            <a href="javascript:void(0)" class="btn btn-outline btn-nblue" data-original-title="Delete" data-toggle="tooltip" (click) = "deleteUpload(imageUpload.id, i)" ><i class="ti-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                      </div>

                                  </div>







                              </div>



                          </div>

                      </div>





                  </div>

              </div>

              <!-- Default box -->

          </section>

          <!-- /.content -->