
  <!-- Content Wrapper. Contains page content -->
  
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="page-title">Banner</h3>
            <div class="d-inline-block align-items-center">
              <nav>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                  <li class="breadcrumb-item" aria-current="page">Banner</li>
                  <li class="breadcrumb-item active" aria-current="page">Edit</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
  <section class="content">
       
      <!-- Basic Forms -->
       <div class="box">
        
          <!-- /.box-header -->
          <div class="box-header with-border">
  
            <h4 class="box-title">Edit Banner</h4>
  
          </div>
           <!-- /.box-header -->
  
  
         <div class="box-body">
           <div class="row">
             <div class="col">
           <form (submit)="saveBanner()" enctype="multipart/form-data" method="post" #bannerForm="ngForm">
           <div class="row">
           <div class="col-12">	
            
            <app-action-message *ngIf="actionStatus==1" [type]="1" [message]="successMessage" >
            </app-action-message>
  
            <app-action-message *ngIf="actionStatus==2" [type]="2" [message]="errorMessage" >
              </app-action-message>
  
              <div class="form-group">
                  <label>Region</label>
                  <div class="controls">
                    <select class="form-control"  name="region" id="region" #region="ngModel" [(ngModel)]= "bannerData.region" required>
                            <option value=0>Select Region</option>
                            <option *ngFor="let rg of regions" value={{rg.id}}>{{rg.name}}</option>
                    </select>
                    <div class="form-control-feedback" *ngIf="region.invalid && (region.dirty || region.touched)">
                        <code *ngIf="region.errors.required">Missing region</code>
                    </div>
                  </div>
              </div>
  
              <div class="form-group">
                  <label>Language</label>
                  <div class="controls">
                    <select class="form-control"  name="language" id="language" #language="ngModel" [(ngModel)]= "bannerData.language" required>
                            <option value=0>Select language</option>
                            <option *ngFor="let lg of languages" value={{lg.id}}>{{lg.name}}</option>
                    </select>
                    <div class="form-control-feedback" *ngIf="language.invalid && (language.dirty || language.touched)">
                        <code *ngIf="language.errors.required">Missing region</code>
                    </div>
                  </div>
              </div>

             <div class="form-group">
              <label class="text-info">Caption <span class="text-danger">*</span></label>
               <div class="controls">
                 
                 <input type="text" name="caption" #caption="ngModel" minlength="4" maxlength="255"  [(ngModel)]="bannerData.caption" class="form-control" required data-validation-required-message="This field is required"> </div>
    
                 <div class="form-control-feedback" *ngIf="caption.invalid && (caption.dirty || caption.touched)">
                    <code *ngIf="caption.errors.required">Missing caption field</code>
                   <code *ngIf="caption.errors.minlength || caption.errors.maxlength">Invalid caption maxlength:4, minlength:255</code>
                 </div>
               
              </div>
  
              <div class="form-group">
                <label class="text-info">Upload Type <span class="text-danger">*</span></label>
                  <div class="controls">
                    <select name="uploadType" id="uploadType" required class="form-control" [(ngModel)]="bannerData.type" >
                        <option *ngFor="let t of typeOptions" value="{{t.value}}">{{t.name}}</option>
                    </select>
                  </div>
                </div>
              
                <div *ngIf="(bannerData.type==1 && !bannerData.file_id) || imageRemoved==1" class="form-group">
                  <label class="text-info">Upload File<span class="text-danger">*</span></label>
                  <div class="controls">
                    <input type="file" name="file" #bannerfile="ngModel" class="form-control" [(ngModel)]="bannerData.file" required (change)="onFileChange($event)"> </div>
                    <div class="form-control-feedback" *ngIf="bannerfile.invalid && (bannerfile.dirty || bannerfile.touched)">
                        <code *ngIf="bannerfile.errors.required">Missing banner image</code>
                     </div>
                     <div class="form-control-feedback" *ngIf="imageError && (bannerfile.dirty || bannerfile.touched)">
                      <code *ngIf="imageError">{{imageError}}</code>
                   </div>
                </div>

                <div *ngIf="bannerData.type==1 && bannerData.file_id>0 && imageRemoved==0" class="form-group">
                    <label class="text-info">Uploaded File<span class="text-danger">*</span></label>
                    <div *ngIf="bannerData.type==1 && previewImage" class="col-md-2">
                        <div>
                          <img src="{{previewImage}}" style="width:100%"> 
                          <div class="remove" (click)="removeFile()"> <code> Remove </code></div>
                        </div>
                     </div>
                </div>

                <div *ngIf="bannerData.type==1 &&  imageRemoved==1" class="form-group">
                  <div class="remove" (click)="undoRemoved()"> <code> Undo Deleted Image </code></div>
                 </div>
  
             <div *ngIf="bannerData.type==2" class="form-group">
              <label class="text-info">URL <span class="text-danger">*</span></label>
               <div class="controls">
                 <input type="url" name="url" #bannerURL="ngModel" class="form-control" required data-validation-required-message="This field is required" [(ngModel)]="bannerData.path"> </div>
                
                 <div class="form-control-feedback" *ngIf="bannerURL.invalid && (bannerURL.dirty || bannerURL.touched)">
                    <code *ngIf="bannerURL.errors.required">Missing banner URL</code>
                 </div>

               
  
              </div>
  
             <div class="form-group">
                <label class="text-info">Link To <span class="text-danger">*</span></label>
                <div class="controls">
                  <fieldset>
                    <input name="linkTo" type="radio" id="linkTo1" value="0" required [(ngModel)]="bannerData.linkedTo" >
                    <label for="linkTo1">Video</label>
                  </fieldset>
                  <fieldset>
                    <input name="linkTo" type="radio" id="linkTo2" value="1" [(ngModel)]="bannerData.linkedTo" >
                    <label for="linkTo2">Text</label>
                  </fieldset>
                  <fieldset>
                      <input name="linkTo" type="radio" id="linkTo3" value="2" [(ngModel)]="bannerData.linkedTo">
                      <label for="linkTo3">Image</label>
                    </fieldset>
                </div>
              </div>
  
              <!-- <div *ngIf =  "bannerData.linkedTo==1" class="form-group">
                <label class="text-info">Select Product <span class="text-danger">*</span></label>
                  <div class="controls">
                    <select name="productSel" id="productSel" required class="form-control">
                        <option *ngFor="let p of linkToList['products']" value="{{p}}">{{p}}</option>
                    </select>
                  </div>
                </div>
  
                <div *ngIf =  "bannerData.linkedTo==2" class="form-group">
                  <label class="text-info">Select Event <span class="text-danger">*</span></label>
                    <div class="controls">
                      <select name="eventSel" id="eventSel" required class="form-control" >
                          <option *ngFor="let e of linkToList['events']" value="{{e}}">{{e}}</option>
                      </select>
                    </div>
                  </div> -->
            </div>
          </div>
           
           <div class="text-xs-right">
              <!-- <button type="submit" class="btn btn-outline btn-info mr-10">
                  <i class="fa fa-check"></i> Submit
              </button>

              <button type="button" class="btn btn-outline btn-danger">
                  <i class="fa fa-close"></i> Cancel
              </button> -->

            <button *ngIf="bannerData.type==1" type="submit" class="btn btn-outline btn-info mr-10" [disabled]="!bannerForm.valid || !bannerData.file" ><i class="fa fa-check"></i> Submit</button>
            <button *ngIf="bannerData.type==2" type="submit" class="btn btn-outline btn-info mr-10" [disabled]="!bannerForm.valid" ><i class="fa fa-check"></i> Submit</button>
           </div>
         </form>
               
             </div>
             <!-- /.col -->
           </div>
           <!-- /.row -->
         </div>
         <!-- /.box-body -->
       </div>
       <!-- /.box -->
       
     </section>
     <!-- /.content -->
  