<aside class="main-sidebar">

    <!-- sidebar -->

    <section class="sidebar">

      <!-- sidebar menu -->

      <ul class="sidebar-menu" data-widget="tree" *ngIf="roleChecked">


         <li>
            <a href="javascript:void()" [routerLink]="['dashboard']" >
              <i><img src="../assets/images/dashboard.svg" alt="FAQ's" width="23px"></i>
              <span>Dashboard</span>
            </a>
          </li>


        <li class="treeview" *ngIf="roleType==1" >

          <a href="javascript:void(0)" >

            <i

              ><img src="../assets/images/gallery.svg" alt="Banner" width="23px"

            /></i>

            <span>Banner</span>

            <span class="pull-right-container">

              <i class="fa fa-angle-right pull-right"></i>

            </span>

          </a>

          <ul class="treeview-menu">

            <li>

              <a href="javascript:void(0)" [routerLink]="['add-banner']"

                ><i class="mdi mdi-toggle-switch-off"></i>Add Banner</a

              >

            </li>

            <li>

              <a href="javascript:void(0)" [routerLink]="['banner-list']"

                ><i class="mdi mdi-toggle-switch-off"></i>View Banner</a

              >

            </li>

          </ul>

        </li>



        <li class="treeview" *ngIf="roleType==1">

          <a href="javascript:void(0)" >

            <i

              ><img

                src="../assets/images/pm.svg"

                alt="Product Management"

                width="28px"

            /></i>

            <span>Product Management</span>

            <span class="pull-right-container">

              <i class="fa fa-angle-right pull-right"></i>

            </span>

          </a>

          <ul class="treeview-menu">
            <li>

              <a href="javascript:void(0)" [routerLink]="['add-master-product']"

                ><i class="mdi mdi-toggle-switch-off"></i>Add  Master Product</a

              >

            </li>
            <li>

              <a href="javascript:void(0)" [routerLink]="['add-product']"

                ><i class="mdi mdi-toggle-switch-off"></i>Add Product</a

              >

            </li>

            <li>

              <a href="javascript:void(0)" [routerLink]="['product-list']"

                ><i class="mdi mdi-toggle-switch-off"></i>View Products</a

              >

            </li>

          </ul>

        </li>



        <li class="treeview" *ngIf="roleType==1">

          <a href="javascript:void(0)" >

            <i

              ><img

                src="../assets/images/event.svg"

                alt="Notice"

                width="23px"

            /></i>

            <span>Noticeboard</span>

            <span class="pull-right-container">

              <i class="fa fa-angle-right pull-right"></i>

            </span>

          </a>

          <ul class="treeview-menu">

            <li>

              <a href="javascript:void(0)" [routerLink]="['add-event']"

                ><i class="mdi mdi-toggle-switch-off"></i>Add

                Notice</a

              >

            </li>

            <li>
<!--[routerLink]="['event-list']"-->
              <a href="javascript:void(0)"  [routerLink]="['event-list']"

                ><i class="mdi mdi-toggle-switch-off"></i>View

                Notice</a

              >

            </li>

          </ul>

        </li>

        <li class="treeview" *ngIf="roleType==1">

          <a href="javascript:void(0)" >

            <i

              ><img src="../assets/images/video.svg" alt="Videos" width="23px"

            /></i>

            <span>Videos</span>

            <span class="pull-right-container">

              <i class="fa fa-angle-right pull-right"></i>

            </span>

          </a>

          <ul class="treeview-menu">

            <li>

              <a href="javascript:void(0)" [routerLink]="['add-video']"

                ><i class="mdi mdi-toggle-switch-off"></i>Add Video</a

              >

            </li>

            <li>

              <a href="javascript:void(0)" [routerLink]="['video-list']"

                ><i class="mdi mdi-toggle-switch-off"></i>View Video</a

              >

            </li>

          </ul>

        </li>



        <li class="treeview" *ngIf="roleType==1">

          <a href="javascript:void(0)" >

            <i

              ><img

                src="../assets/images/usermgt.svg"

                alt="User Management"

                width="20px"

            /></i>

            <span>User Management</span>

            <span class="pull-right-container">

              <i class="fa fa-angle-right pull-right"></i>

            </span>

          </a>

          <ul class="treeview-menu">

            <li>

              <a href="javascript:void(0)" [routerLink]="['add-user']"

                ><i class="mdi mdi-toggle-switch-off"></i>Add User</a

              >

            </li>

            <li>

              <a href="javascript:void(0)" [routerLink]="['user-list']"

                ><i class="mdi mdi-toggle-switch-off"></i>View Users</a

              >

            </li>

          </ul>

        </li>

        <li class="treeview" *ngIf="roleType==1">

          <a href="javascript:void(0)" >

            <i

              ><img

                src="../assets/images/vas.svg"

                alt="User Management"

                width="23px"

            /></i>

            <span>Value Added Services</span>

            <span class="pull-right-container">

              <i class="fa fa-angle-right pull-right"></i>

            </span>

          </a>

          <ul class="treeview-menu">

            <li>

              <a href="javascript:void(0)"  [routerLink]="['add-vas']"

                ><i class="mdi mdi-toggle-switch-off"></i>Add VAS</a

              >

            </li>

            <li>

              <a href="javascript:void(0)"  [routerLink]="['vas-list']"

                ><i class="mdi mdi-toggle-switch-off"></i>View VAS</a

              >

            </li>

          </ul>

        </li>



        <li class="treeview"  *ngIf="roleType==1">

          <a href="javascript:void(0)" >

            <i

              ><img

                src="../assets/images/apps.svg"

                alt="Business Opp"

                width="20px"

            /></i>

            <span>Business Opportunities</span>

            <span class="pull-right-container">

              <i class="fa fa-angle-right pull-right"></i>

            </span>

          </a>

          <ul class="treeview-menu">

            <li>

              <a href="javascript:void(0)" [routerLink]="['add-business-opportunity']"

                ><i class="mdi mdi-toggle-switch-off"></i>Add Business Opportunities</a

              >

            </li>

            <li>

              <a href="javascript:void(0)" [routerLink]="['business-oppportunit-list']"

                ><i class="mdi mdi-toggle-switch-off"></i>View Business Opportunities</a

              >

            </li>

          </ul>

        </li>



         <li class="treeview" *ngIf="roleType==1">

          <a href="javascript:void(0)" >

            <i><img src="../assets/images/notification.svg" alt="Send Notifications" width="23px"/></i>

            <span> Notifications</span>

            <span class="pull-right-container">

              <i class="fa fa-angle-right pull-right"></i>

            </span>

          </a>
          <ul class="treeview-menu">

            <li>

              <a href="javascript:void(0)" [routerLink]="['create-notification']"

                ><i class="mdi mdi-toggle-switch-off"></i>Add Notification</a

              >

            </li>

            <li>

              <a href="javascript:void(0)" [routerLink]="['notification-list']"

                ><i class="mdi mdi-toggle-switch-off"></i>View Notification</a

              >

            </li>

          </ul>

        </li>

        <li class="treeview" *ngIf="roleType==1">

        <a href="javascript:void(0)" [routerLink]="['faq-list']">

          <i

            ><img

            src="../assets/images/faqs.svg" alt="FAQ's"

              width="20px"

          /></i>

          <span>FAQs</span>

          <!-- <span class="pull-right-container">

            <i class="fa fa-angle-right pull-right"></i>

          </span> -->

        </a>

        <!--ul class="treeview-menu">

          <li>

            <a href="javascript:void(0)" [routerLink]="['add-faq']"

              ><i class="mdi mdi-toggle-switch-off"></i>Add FAQ</a

            >

          </li>

          <li>

            <a href="javascript:void(0)" [routerLink]="['faq-list']"

              ><i class="mdi mdi-toggle-switch-off"></i>View FAQs</a

            >

          </li>

        </ul-->

      </li>

      <li class="treeview" *ngIf="roleType==1">

          <a href="#">

              <i><img src="../assets/images/music-player.svg" alt="Application Enquiries" width="20px" /></i>

              <span>Application Enquiries</span>

              <span class="pull-right-container">

                  <i class="fa fa-angle-right pull-right"></i>

              </span>

          </a>

          <ul class="treeview-menu">

              <li>

                  <a href="javascript:void(0)" [routerLink]="['application-enquiries']"><i class="mdi mdi-toggle-switch-off"></i>View Application Enquiries</a>

              </li>

          </ul>

      </li>

       <li>

          <a href="javascript:void(0)" [routerLink]="['user-uploads']">

              <i><img src="../assets/images/user-upload.svg" alt="User Management" width="23px" /></i>

              <span>Uploads</span>

          </a>

      </li>



        <li >

          <a href="javascript:void(0)" (click)="logout()">

            <i

              ><img src="../assets/images/logout.svg" alt="Log Out" width="20px"

            /></i>

            <span>Log Out</span>

          </a>

        </li>

      </ul>

    </section>

  </aside>