<aside class="main-sidebar">

            <!-- sidebar-->

            <section class="sidebar">



                <!-- sidebar menu-->

                <ul class="sidebar-menu" data-widget="tree">

                    <li class="user-profile treeview">

                        <a href="index.html">

              <img src="assets/images/avatar/7.jpg" alt="user">

              <span>

                <span class="d-block font-weight-600 font-size-16">Samuel Brus</span>

                <span class="email-id">samuel@gmail.com</span>

              </span>

              <span class="pull-right-container">

                <i class="fa fa-angle-right pull-right"></i>

              </span>

            </a>

                        <ul class="treeview-menu">

                            <li><a href="javascript:void()"><i class="fa fa-user mr-5"></i>My Profile </a></li>

                            <li><a href="javascript:void()"><i class="fa fa-money mr-5"></i>My Balance</a></li>

                            <li><a href="javascript:void()"><i class="fa fa-envelope-open mr-5"></i>Inbox</a></li>

                            <li><a href="javascript:void()"><i class="fa fa-cog mr-5"></i>Account Setting</a></li>

                            <li><a href="javascript:void()"><i class="fa fa-power-off mr-5"></i>Logout</a></li>

                        </ul>

                    </li>

                    <!--                        <li class="header nav-small-cap"><i class="mdi mdi-drag-horizontal mr-5"></i>PERSONAL</li>-->



                    <li class="treeview active">



                        <a href="javascript:void()" [routerLink]='["add-banner"]' >

              <i><img src="assets/images/gallery.svg" alt="Banner" width="23px"></i>

              <span>Banner</span>

            </a>

                    </li>

                    <li>

                        <a href="product-list.html">

              <i><img src="assets/images/pm.svg" alt="Product Management" width="28px"></i>

              <span>Product Management</span>

            </a>

                    </li>

                    <li>

                        <a href="pages/email_index.html">

              <i><img src="assets/images/event.svg" alt="Event/Notice" width="23px"></i>

              <span>Event/Notice</span>

            </a>

                    </li>

                    <li>

                        <a href="javascript:void()" [routerLink]='["add-video"]'>

              <i><img src="assets/images/video.svg" alt="Videos" width="23px"></i>

              <span>Videos</span>

            </a>

                    </li>

                    <li>

                        <a href="pages/email_index.html">

              <i><img class="mdi" src="assets/images/usermgt.svg" alt="User Management" width="20px"></i>

              <span>User Management</span>

            </a>

                    </li>

                    <li>

                        <a href="pages/email_index.html">

              <i><img src="assets/images/vas.svg" alt="Value Added Services" width="23px"></i>

              <span>Value Added Services</span>

            </a>

                    </li>

                    <li>

                        <a href="pages/email_index.html">

              <i><img src="assets/images/apps.svg" alt="Applications" width="20px"></i>

              <span>Applications</span>

            </a>

                    </li>

                    <li>

                        <a href="faq.html">

                            <i><img src="assets/images/faqs.svg" alt="FAQ's" width="23px"></i>

                            <span>FAQ's</span>

                          </a>

                    </li>



                    <li>

                        <a href="pages/auth_login.html">

              <i><img src="assets/images/logout.svg" alt="Log Out" width="20px"></i>

              <span>Log Out</span>

            </a>

                    </li>



                </ul>

            </section>

        </aside>