<div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="true" data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="true" data-animation="pop" data-timer="null" style="display: block; margin-top: -169px;">
  <div class="" style="background:#FFF;width:100%;height:400px">
  <div class="alert alert-warning">
      Are you sure that you want to delete the content ?
  </div>
  <div>
    <input type="button" class="btn btn-primary btn-danger" value="Yes">
    <input type="button" class="btn btn-primary btn-danger" value="No">
  </div>
</div>
</div>