<div class="content-header">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="page-title">Banners</h3>
      <div class="d-inline-block align-items-center">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
            <li class="breadcrumb-item" aria-current="page">Banner</li>
            <li class="breadcrumb-item active" aria-current="page">List</li>
          </ol>
        </nav>
      </div>
    </div>
    
  </div>
</div>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-12">
        <div class="box">
          
            <!-- /.box-header -->
            <div class="box-header with-border">

              <h4 class="box-title">Manage Banners</h4>

              <h6 class="box-subtitle">List of banners uploaded by NEEV Mitra</h6>

              <span class="box-controls pull-right">

                <a href="javascript:void()" [routerLink]="['../add-banner']" class="btn btn-md btn-nblue btn-block my-10">

                  <i class="ti-plus"></i> Add New Banner

                </a>

              </span>

            </div>
             <!-- /.box-header -->
          <div class="box-body">
            <!-- Select Region -->

            <div class="row">

                <div class="form-group ml-15">

                    <label class="text-info">Region List</label>

                    <div class="controls">

                        <select name="select" id="region-list" required="" class="form-control" aria-invalid="false" (change)="filterAsRegion()" [(ngModel)]="region_selected" >

                            <option value="0">All</option>
                            <option *ngFor="let r of regions" value="{{r.id}}">{{r.name}}</option>

                        </select>

                        <div class="help-block"></div>

                    </div>

                </div>

            </div>

				<div class="table-responsive">
            <app-action-message *ngIf="actionStatus==1" [type]="1" [message]="successMessage" >
              </app-action-message>
    
              <app-action-message *ngIf="actionStatus==2" [type]="2" [message]="errorMessage" >
                </app-action-message>

                <app-action-message *ngIf="!bannerData || bannerData.length==0" [type]="3" [message]="noRecordMessage" >
                </app-action-message>
				  <table *ngIf="bannerData && bannerData.length>0" id="example" class="as-data-table table table-hover no-wrap product-order" >
					<thead>
						<tr  class="bg-secondary">
              <th>Banner ID</th>
              <th>Image</th>
              <th>Caption</th>
              <th>Linked To</th>
							<th>Date</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let data of this.bannerData; let i=index">
              <td> {{i+1}} </td>
              <td *ngIf="data.type==1"> <img src='{{serverBaseURL}}{{data.upload_path}}' style="width:75px;"> </td>
              <td *ngIf="data.type==2"> <img src='{{data.path}}' style="width:75px;"> </td>

              <td>{{data.caption}}</td>

              <td>{{linkedToText(data.has_link)}} </td>

              <td>{{data.created_at | date : medium}}</td>
              <!-- <td *ngIf="data.type==1"> File </td>
              <td *ngIf="data.type==2"> URL </td> -->

             

							<td>
                <!-- <span class="action-icon edit fa fa-edit" alt="Edit" title="Edit" (click)="editThis(data.id, i)"> </span>
                <span class="action-icon delete fa fa-trash-o" alt="Delete" title="Delete" (click)="deleteThis(data.id, i)"> </span> -->

                <a href="javascript:void(0)" class="btn btn-icon-circle btn-nblue" data-toggle="tooltip" data-original-title="Edit" (click)="editThis(data.id, i)">
                  <i class="ti-marker-alt"></i>
                </a>

                <a href="javascript:void(0)" class="btn btn-icon-circle btn-danger" data-original-title="Delete" data-toggle="tooltip" (click)="deleteThis(data.id, i)">
                    <i class="ti-trash"></i>
                </a>

                <a href="javascript:void(0)" (click)="viewImage(data.upload_path)" target="_blank" class="btn btn-icon-circle btn-nblue" data-original-title="View" data-toggle="tooltip" >
                    <i class="ti-eye"></i>
                </a>

              </td>

						</tr>
					</tbody>				  
	<!-- 				<tfoot>
						<tr>
                <th>Caption</th>
                <th>Type</th>
                <th>Image</th>
                <th>Action</th>
              </tr>
					</tfoot> -->
				</table>
				</div>              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->  
    </div>
  </div>
</section>


