<div class="hold-transition">
<section class="error-page bg-img h-p100" style="background-image: url(../../images/error-bg.jpg);">
  <div class="container h-p100">
    <div class="row h-p100 align-items-center justify-content-center text-center text-white">
      <div class="col-lg-7 col-md-10 col-12">
        <h1 class="text-danger font-size-180 font-weight-bold error-page-title"> 404</h1>
        <h1>Page Not Found !</h1>
        
        <h3>looks like, page doesn't exist</h3>
        <div class="my-30"><a href="../index.html" class="btn btn-white btn-outline">Back to dashboard</a></div>				  
        			  
      </div>				
    </div>
  </div>
</section>
</div>