
    <div class="auth-2-outer row align-items-center h-p100 m-0">

      <div class="auth-2">

        <div class="auth-logo font-size-40">

          <a href="../index.html" class="text-white"><b>NEEV</b> MITRA</a>

        </div>

        <!-- /.login-logo -->

        <div class="auth-body">

          <p class="auth-msg">Login to start your session</p>

          <div class="alert alert-success" *ngIf="actionStatus==1" >
            <div> <span class="fa fa-check">&nbsp;</span>{{successMessage}}</div>
          </div>

          <div class="alert alert-error" *ngIf="actionStatus==2" >
              <div> <span class="fa fa-times">&nbsp;</span>{{errorMessage}}</div>
            </div>

          <form action="" method="post" class="form-element" name="loginForm" id="loginForm" (submit)="checkCredentials()">

            <div class="form-group has-feedback">

              <input type="text" class="form-control pl-15" placeholder="Username" [(ngModel)] ="loginForm.username" name="username" id="username" > 

              <span class="ion ion-email form-control-feedback"></span>

            </div>

            <div class="form-group has-feedback">

              <input type="password" class="form-control pl-15" placeholder="Password" [(ngModel)] ="loginForm.password" name="plainPasswordText" id="plainPasswordText"> 


              <span class="ion ion-locked form-control-feedback"></span>

            </div>

            

             <!--div class="form-group has-feedback">

             <span><img src="../../images/user2-280x90.jpg" height="30px" width="100px" alt="captcha"></span>

            

              <input

                type="text"

                class="form-control"

                placeholder="Enter Captcha"

              />

              <span class="ti ti-reload form-control-feedback"></span>

            </div-->

            

            

            <div class="row">

              <div class="col-6">

                <div class="checkbox">

                  <input type="checkbox" id="basic_checkbox_1" />

                  <label for="basic_checkbox_1">Remember Me</label>

                </div>

              </div>

              <!--div class="col-6 fog-pwd text-right">
                <a href="javascript:void(0)" [routerLink]='["../forgot-password"]'><i class="ion ion-locked"></i> Forgot Password?</a><br>
                </div-->

              <!-- /.col -->

<!--

              <div class="col-6">

                <div class="fog-pwd">

                  <a href="javascript:void(0)" class="text-white"

                    ><i class="ion ion-locked"></i> Forgot password?</a

                  ><br />

                </div>

              </div>

-->

              <!-- /.col -->

              <div class="col-12 text-center">

                <button type="submit" class="btn btn-block mt-10 btn-nblue">

                  SIGN IN

                </button>

              </div>

              <!-- /.col -->

            </div>

          </form>

        </div>

      </div>

    </div>

<!--div class="auth-2-outer row align-items-center h-p100 m-0">

  <div class="auth-2">

    <div class="auth-logo font-size-40">

      <a href="../index.html" class="text-white"><b>NEEV</b> MITRA</a>

    </div>

    <!-- /.login-logo -->

    <!--div class="auth-body">

  <div class="container h-p100">
      <div class="row align-items-center justify-content-md-center h-p100">			
        <div class="col-12">
          <div class="row no-gutters justify-content-md-center">
            <div class="col-lg-4 col-md-5 col-12">
              <div class="content-top-agile h-p100">
                <h2>Get started <br> with Us</h2>
                <p class="text-white">Sign in to start your session</p>
  
                <div class="text-center text-white">
                  <p class="mt-20">- Sign With -</p>
                  <p class="gap-items-2 mb-20">
                    <a class="btn btn-social-icon btn-outline btn-white" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-outline btn-white" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-social-icon btn-outline btn-white" href="#"><i class="fa fa-google-plus"></i></a>
                    <a class="btn btn-social-icon btn-outline btn-white" href="#"><i class="fa fa-instagram"></i></a>
                  </p>	
                </div>
                
              </div>				
            </div>
            <div class="col-lg-5 col-md-5 col-12">
              <div class="p-40 bg-white content-bottom h-p100">
                <form action="" method="post" class="form-element" name="loginForm" id="loginForm" (submit)="checkCredentials()">
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-info border-info"><i class="ti-user"></i></span>
                      </div>
                      <input type="text" class="form-control pl-15" placeholder="Username" [(ngModel)] ="loginForm.username" name="username" id="username" > 
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-info border-info"><i class="ti-lock"></i></span>
                      </div>
                      <input type="password" class="form-control pl-15" placeholder="Password" [(ngModel)] ="loginForm.password" name="plainPasswordText" id="plainPasswordText"> 
                    </div>
                  </div>
                    <div class="row">
                    <div class="col-6">
                      <div class="checkbox">
                      <input type="checkbox" id="basic_checkbox_1" >
                      <label for="basic_checkbox_1">Remember Me</label>
                      </div>
                    </div>
                    <!-- /.col -->
                    <!--div class="col-6">
                     <div class="fog-pwd text-right">
                      <a href="javascript:void(0)" [routerLink]='["../forgot-password"]'><i class="ion ion-locked"></i> Forgot pwd?</a><br>
                      </div>
                    </div>
                    <!-- /.col -->
                    <!--div class="col-12 text-center">
                      <button type="submit" class="btn btn-info btn-block margin-top-10">SIGN IN</button>
                    </div>
                    <!-- /.col -->
                    <!--/div>
                </form>		
  
                <div class="text-center">
                  <p class="mt-15 mb-0">Don't have an account? <a href="auth_register.html" class="text-info ml-5">Sign Up</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div-->
  