
    <div class="auth-2-outer row align-items-center h-p100 m-0">

      <div class="auth-2">

        <div class="auth-logo font-size-40">

          <a href="../index.html" class="text-white"><b>NEEV</b> MITRA</a>

        </div>

        <!-- /.login-logo -->

        <div class="auth-body">

          <p class="auth-msg">Login to start your session</p>

          <div class="alert alert-success" *ngIf="actionStatus==1" >
            <div> <span class="fa fa-check">&nbsp;</span>{{successMessage}}</div>
          </div>

          <div class="alert alert-error" *ngIf="actionStatus==2" >
              <div> <span class="fa fa-times">&nbsp;</span>{{errorMessage}}</div>
            </div>

          <form action="" method="post" class="form-element" #logForm="ngForm" name="loginForm" id="loginForm" (submit)="checkCredentials()">

            <div class="form-group has-feedback">

              <input type="email" class="form-control pl-15"  #uname="ngModel"  maxlength="255" placeholder="Email id" [(ngModel)] ="loginForm.username" name="username" id="username"> 
              <div class="ion ion-email form-control-feedback" *ngIf="uname.invalid && (uname.dirty || uname.touched)">
                <code> Invalid email id </code>
              </div>
              
              <div class="ion ion-email form-control-feedback" *ngIf="uname.required && (uname.dirty || uname.touched)">
                <code> Email id required</code>
              </div>

            </div>

            <div class="form-group has-feedback">

              <input type="password" class="form-control pl-15" #pwd="ngModel" maxlength="200" placeholder="Password" [(ngModel)] ="loginForm.password" name="plainPasswordText" id="plainPasswordText"> 

              <div class="ion ion-email form-control-feedback" *ngIf="pwd.required && (pwd.dirty || pwd.touched)">
                <code> Password required</code>
              </div>

              <span class="ion ion-locked form-control-feedback"></span>

            </div>

            
            

            <div class="row">

              <div class="col-6">

                <!--div class="checkbox">

                  <input type="checkbox" id="basic_checkbox_1" />

                  <label for="basic_checkbox_1">Remember Me</label>

                </div-->
                <a [routerLink]="['../tsm-login']" style="color: #fff;" >CLICK HERE FOR TSM LOGIN</a>

              </div>

             

              <!-- /.col -->

              <div class="col-12 text-center">

                <button type="submit" class="btn btn-block mt-10 btn-nblue" [disabled]="!logForm.valid">

                  SIGN IN

                </button>

              </div>

              <!-- /.col -->

            </div>

          </form>

        </div>

      </div>

    </div>
