<aside class="main-sidebar">

    <!-- sidebar -->

    <section class="sidebar">

      <!-- sidebar menu -->

      <ul class="sidebar-menu" data-widget="tree">

        <li class="user-profile treeview">

          <a href="index.html">

            <img src="../assets/images/avatar/7.jpg" alt="user" />

            <span>

              <span class="d-block font-weight-600 font-size-16"

                >Samuel Brus</span

              >

              <span class="email-id">samuel@gmail.com</span>

            </span>

            <span class="pull-right-container">

              <i class="fa fa-angle-right pull-right"></i>

            </span>

          </a>

          <ul class="treeview-menu">

            <li>

              <a href="javascript:void()"

                ><i class="fa fa-user mr-5"></i>My Profile

              </a>

            </li>

            <li>

              <a href="javascript:void()"

                ><i class="fa fa-calendar-check-o mr-5"></i>My Events</a

              >

            </li>

            <li>

              <a href="javascript:void()"

                ><i class="fa fa-cog mr-5"></i>Account Setting</a

              >

            </li>

            <li>

              <a href="javascript:void()"

                ><i class="fa fa-power-off mr-5"></i>Logout</a

              >

            </li>

          </ul>

        </li>



        <li class="treeview">

          <a href="javascript:void()" >

            <i

              ><img src="../assets/images/gallery.svg" alt="Banner" width="23px"

            /></i>

            <span>Banner</span>

            <span class="pull-right-container">

              <i class="fa fa-angle-right pull-right"></i>

            </span>

          </a>

          <ul class="treeview-menu">

            <li>

              <a href="javascript:void()" [routerLink]="['add-banner']"

                ><i class="mdi mdi-toggle-switch-off"></i>Add Banner</a

              >

            </li>

            <li>

              <a href="javascript:void()" [routerLink]="['banner-list']"

                ><i class="mdi mdi-toggle-switch-off"></i>View Banner</a

              >

            </li>

          </ul>

        </li>



        <li class="treeview">

          <a href="javascript:void()" >

            <i

              ><img

                src="../assets/images/pm.svg"

                alt="Product Management"

                width="28px"

            /></i>

            <span>Product Management</span>

            <span class="pull-right-container">

              <i class="fa fa-angle-right pull-right"></i>

            </span>

          </a>

          <ul class="treeview-menu">

            <li>

              <a href="javascript:void()" [routerLink]="['add-product']"

                ><i class="mdi mdi-toggle-switch-off"></i>Add Product</a

              >

            </li>

            <li>

              <a href="javascript:void()" [routerLink]="['product-list']"

                ><i class="mdi mdi-toggle-switch-off"></i>View Products</a

              >

            </li>

          </ul>

        </li>



        <li class="treeview">

          <a href="javascript:void()" >

            <i

              ><img

                src="../assets/images/event.svg"

                alt="Event/Notice"

                width="23px"

            /></i>

            <span>Event/Notice</span>

            <span class="pull-right-container">

              <i class="fa fa-angle-right pull-right"></i>

            </span>

          </a>

          <ul class="treeview-menu">

            <li>

              <a href="javascript:void()" [routerLink]="['add-event']"

                ><i class="mdi mdi-toggle-switch-off"></i>Add

                Event/Notice</a

              >

            </li>

            <li>

              <a href="javascript:void()" [routerLink]="['event-list']"

                ><i class="mdi mdi-toggle-switch-off"></i>View

                Events/Notice</a

              >

            </li>

          </ul>

        </li>

        <li class="treeview">

          <a href="javascript:void()" >

            <i

              ><img src="../assets/images/video.svg" alt="Videos" width="23px"

            /></i>

            <span>Videos</span>

            <span class="pull-right-container">

              <i class="fa fa-angle-right pull-right"></i>

            </span>

          </a>

          <ul class="treeview-menu">

            <li>

              <a href="javascript:void()" [routerLink]="['add-video']"

                ><i class="mdi mdi-toggle-switch-off"></i>Add Video</a

              >

            </li>

            <li>

              <a href="javascript:void()" [routerLink]="['video-list']"

                ><i class="mdi mdi-toggle-switch-off"></i>View Video</a

              >

            </li>

          </ul>

        </li>



        <li class="treeview">

          <a href="javascript:void()" >

            <i

              ><img

                src="../assets/images/usermgt.svg"

                alt="User Management"

                width="20px"

            /></i>

            <span>User Management</span>

            <span class="pull-right-container">

              <i class="fa fa-angle-right pull-right"></i>

            </span>

          </a>

          <ul class="treeview-menu">

            <li>

              <a href="javascript:void()" [routerLink]="['add-user']"

                ><i class="mdi mdi-toggle-switch-off"></i>Add User</a

              >

            </li>

            <li>

              <a href="javascript:void()" [routerLink]="['user-list']"

                ><i class="mdi mdi-toggle-switch-off"></i>View Users</a

              >

            </li>

          </ul>

        </li>

        <li class="treeview">

          <a href="javascript:void()" >

            <i

              ><img

                src="../assets/images/vas.svg"

                alt="User Management"

                width="23px"

            /></i>

            <span>Value Added Services</span>

            <span class="pull-right-container">

              <i class="fa fa-angle-right pull-right"></i>

            </span>

          </a>

          <ul class="treeview-menu">

            <li>

              <a href="vas-add.html"

                ><i class="mdi mdi-toggle-switch-off"></i>Add VAS</a

              >

            </li>

            <li>

              <a href="vas.html"

                ><i class="mdi mdi-toggle-switch-off"></i>View VAS</a

              >

            </li>

          </ul>

        </li>



        <li class="treeview">

          <a href="javascript:void()" >

            <i

              ><img

                src="../assets/images/apps.svg"

                alt="User Management"

                width="23px"

            /></i>

            <span>Applications</span>

            <span class="pull-right-container">

              <i class="fa fa-angle-right pull-right"></i>

            </span>

          </a>

          <ul class="treeview-menu">

            <li>

              <a href="application-add.html"

                ><i class="mdi mdi-toggle-switch-off"></i>Add Application</a

              >

            </li>

            <li>

              <a href="applications.html"

                ><i class="mdi mdi-toggle-switch-off"></i>View

                Applications</a

              >

            </li>

          </ul>

        </li>



        <li>

          <a href="faqs.html">

            <i><img src="../assets/images/faqs.svg" alt="FAQ's" width="23px"/></i>

            <span>FAQ's</span>

          </a>

        </li>



        <li>

          <a href="login.html">

            <i

              ><img src="../assets/images/logout.svg" alt="Log Out" width="20px"

            /></i>

            <span>Log Out</span>

          </a>

        </li>

      </ul>

    </section>

  </aside>