<div class="auth-2-outer row align-items-center h-p100 m-0">

  <div class="auth-2">

      <div class="auth-logo font-size-40">

          <a href="index.html" class="text-white"><b>NEEV</b> MITRA</a>

      </div>

      <!-- /.login-logo -->

      <div class="auth-body">

          <p class="auth-msg">TSM Login</p>



          <form action="login-tsm-otp.html" method="post" class="form-element">

              <div class="form-group has-feedback">

                  <input type="tel" class="form-control" placeholder="Phone" />

                  <span class="ion ion-ios-telephone form-control-feedback"></span>

              </div>

              <div class="row">

                  

                  <!-- /.col -->

                  <!-- /.col -->

                  <div class="col-12 text-center">

                      <button type="submit" class="btn btn-block mt-15 btn-nblue">

                          Enter

                      </button>

                  </div>

                  <!-- /.col -->

              </div>

          </form>

      </div>

  </div>

</div>