<div class="content-header">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="page-title">Video</h3>
        <div class="d-inline-block align-items-center">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
              <li class="breadcrumb-item" aria-current="page">Video</li>
              <li class="breadcrumb-item active" aria-current="page">List</li>
            </ol>
          </nav>
        </div>
      </div>
      
    </div>
  </div>
  
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12">
          <div class="box">
              
              <!-- /.box-header -->
              <div class="box-header with-border">

                  <h4 class="box-title">Manage Videos</h4>

                  <h6 class="box-subtitle">List of Videos added by NEEV MITRA</h6>

                  <span class="box-controls pull-right">

                      <a href="javascript:void(0)" [routerLink]="['../add-video']" class="btn btn-md btn-nblue btn-block my-10">

                          <i class="ti-plus"></i> Add New Video

                      </a>

                  </span>

              </div>
              <!-- /.box-header -->
              <div class="box-body">
          <div class="table-responsive">
              <app-action-message *ngIf="actionStatus==1" [type]="1" [message]="successMessage" >
                </app-action-message>
      
                <app-action-message *ngIf="actionStatus==2" [type]="2" [message]="errorMessage" >
                  </app-action-message>
  
                  <app-action-message *ngIf="!videoData || videoData.length==0" [type]="3" [message]="noRecordMessage" >
                  </app-action-message>

            <table id="example" *ngIf="videoData && videoData.length>0" class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Category</th>
                <th>Thumbnail</th>
                <th>Video Link</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of this.videoData; let i=index">
                  <td>{{i+1}}</td>
                <td>{{data.title}}</td>
                
                <td *ngIf="data.category==0" >Product</td>
                <td *ngIf="data.category==1" >TV Commercial</td>
                <td *ngIf="data.category==2" >Others</td>

                <td *ngIf="data.thumbnailFile"> <img src="{{serverBaseURL}}{{data.thumbnailFile}}" alt="Not Found" width="80">  </td>
                <td *ngIf="!data.thumbnailFile">Not Available</td>

                <td *ngIf="data.type==2"> {{data.url}} </td>
                <td *ngIf="data.type==1"> 
                  <a href="{{serverBaseURL}}{{data.videoPath }}" target="_blank"> {{data.actual_video_name}} </a>
                </td>
  
                <td> {{data.created_at | date:medium }}   </td>

  
                <!--td>
                  <span class="action-icon edit fa fa-times" alt="Edit" title="Edit"> </span>
                  <span class="action-icon delete fa fa-trash-o" alt="Delete" title="Delete"> </span>
                </td-->
                <td>
                    <a href="javascript:void(0)" class="btn btn-icon-circle btn-nblue" data-toggle="tooltip" data-original-title="Edit" (click)="editVideo(data.id, i)"> 
                        <i class="ti-marker-alt"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn btn-icon-circle btn-danger" data-original-title="Delete" data-toggle="tooltip" (click)="deletVideo(data.id, i)">
                        <i class="ti-trash"></i>
                    </a>
                </td>
              </tr>
            </tbody>				  
            <tfoot>
              <tr>
                  <th>Title</th>
                  <th>Type</th>
                  <th>URL</th>
                  <th>Action</th>
                </tr>
            </tfoot>
          </table>
          </div>              
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->  
      </div>
    </div>
  </section>
  
  
  