
            <!-- left content -->

            <section class="left-block content fixed-left-block box-transparent">

                <a class="mdi mdi-close mdi-menu btn btn-success open-left-block d-block d-md-none" href="javascript:void(0)"></a>

                <div class="scrollable" style="height: 100%;">

                    <div class="left-content-area">



                        <div class="box box-outline-secondary no-shadow">

                            <div class="box-body">

                                <div class="contact-page-aside">

                                    <ul class="list-style-none font-size-16">

                                        <li class="box-label"><a href="javascript:void(0)" (click)="showAll()" >All Users <span>{{tgmUsers.length + tsmUsers.length}}</span></a></li>

                                        <li class="divider"></li>

                                        <li><a class="text-info" href="javascript:void(0)" (click)="showOnlyTSM()">TSM <span class="text-info">{{tsmUsers.length}}</span></a></li>

                                        <li><a class="text-info" href="javascript:void(0)" (click)="showOnlyTGM()">TGM <span class="text-info">{{tgmUsers.length}}</span></a></li>

                                        <li class="box-label">
                                            <a href="javascript:void(0)" class="btn btn-nblue text-white mt-10" [routerLink]="['../add-user']">+ Add New User</a>
                                        </li>
                                        

                                        <li class="box-label"><a href="javascript:void(0)" (click)="importUsers()" class="btn btn-light mt-10"><i class=" ti-import"> </i> Import CSV</a></li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                        <!-- /. box -->



                    </div>

                </div>

            </section>

            <!-- /.left content -->







            <!-- right content -->

            <section class="right-block content">

               <div class="box">

            <div class="box-header with-border">

              <h3 class="box-title">View Users</h3>

              <h6 class="box-subtitle">You can export data to Copy, CSV, Excel, PDF & Print</h6>

            </div>

            <!-- /.box-header -->

            <div class="box-body">

				<div class="table-responsive">
                    
                <app-action-message *ngIf="actionStatus==1" [type]="1" [message]="successMessage" >
                    </app-action-message>
            
                    <app-action-message *ngIf="actionStatus==2" [type]="2" [message]="errorMessage" >
                        </app-action-message>
        
                        <app-action-message *ngIf="!allUserData || allUserData.length==0 && (loaded==1)" [type]="3" [message]="noRecordMessage" >
                        </app-action-message>
				  <table id="example" class="as-data-table table table-bordered table-hover display nowrap margin-top-10 w-p100">

					<thead>

						<tr class="bg-secondary">

							<th>Full Name</th>

							<th>Role</th>

                            <th>Map to</th>

							<th>Contact No</th>

                            <th>Date of Birth</th>
                            <!-- <th>Status</th> -->

							<th>Actions</th>

						</tr>

					</thead>

					<tbody>

						<tr *ngFor="let user of allUserData; let i = index">

							<td>{{user.first_name}}</td>

							<td>{{user.role}}</td>

							<td>-</td>

							<td>{{user.mobile}}</td>

                            <td>{{user.birth_date}}</td>
                            <!--
                            <td *ngIf="user.status ==1">Active</td>
                            <td *ngIf="user.status ==0">Suspended</td>
                                -->
							<td>

                                <div class="media-right gap-items">

                                    <a href="javascript:void(0)" class="btn btn-outline btn-nblue" data-toggle="tooltip" data-original-title="Edit"  (click)="editUser(user.id)"><i class="ti-pencil-alt"></i></a>

                                    <a href="javascript:void(0)" class="btn btn-outline btn-nblue" data-original-title="Delete" data-toggle="tooltip" (click) = "deleteUser(user.id, i)" ><i class="ti-trash"></i></a>

                               </div>

                            </td>

                        </tr>
                        </tbody>

				</table>

				</div>              

            </div>

            <!-- /.box-body -->

          </div>

            <!-- /. box -->

            </section>

            <!-- /.right content -->

        