/* You can add global styles to this file, and also import other style files */
.action-icon{
    display :inline-block;
    padding: 2px 4px;
}

.action-icon.edit{
    color : blue;
}

.action-icon.delete{
    color: red;
}

.alert-warning/* , .bg-warning, .callout.callout-warning, .label-warning, .modal-warning .modal-body  */{
    background-color: #ddeefd !important;
    color: #214098 !important;
    border: 1px solid #a8bfff;
}


.modal-content{
    background: transparent !important;
    box-shadow: none !important;
}

.remove{
    cursor: pointer;
}

.imagePreview img{
    width : 80% !important;
    height: auto !important ;
    margin-bottom: 10px !important;
}





#dashboard_cont div.dataTables_wrapper div.dataTables_paginate{
    display: none !important;
}

#dashboard_cont .dataTables_info{
    display: none !important;
}

#dashboard_cont .dataTables_filter{
    display: none !important;
}

#dashboard_cont #example_wrapper{
    padding-left : 0 !important;
}


