
  <!-- Content Wrapper. Contains page content -->
  
      <!-- Content Header (Page header) -->
      <div class="content-header">
          <div class="d-flex align-items-center">
            <div class="mr-auto">
              <h3 class="page-title">Video</h3>
              <div class="d-inline-block align-items-center">
                <nav>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                    <li class="breadcrumb-item" aria-current="page">Video</li>
                    <li class="breadcrumb-item active" aria-current="page">Edit</li>
                  </ol>
                </nav>
              </div>
            </div>
            <!--div class="right-title">
              <div class="dropdown">
                <button class="btn btn-outline dropdown-toggle no-caret" type="button" data-toggle="dropdown"><i class="mdi mdi-dots-horizontal"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#"><i class="mdi mdi-share"></i>Activity</a>
                  <a class="dropdown-item" href="#"><i class="mdi mdi-email"></i>Messages</a>
                  <a class="dropdown-item" href="#"><i class="mdi mdi-help-circle-outline"></i>FAQ</a>
                  <a class="dropdown-item" href="#"><i class="mdi mdi-settings"></i>Support</a>
                  <div class="dropdown-divider"></div>
                  <button type="button" class="btn btn-success">Submit</button>
                </div>
                </div>
            </div-->
          </div>
        </div>
    <section class="content">
         
        <!-- Basic Forms -->
         <div class="box">
           <!--div class="box-header with-border">
             <h4 class="box-title">Form Validation</h4>
             <h6 class="box-subtitle">Bootstrap Form Validation check the <a class="text-warning" href="http://reactiveraven.github.io/jqBootstrapValidation/">official website </a></h6>
         
         <ul class="box-controls pull-right">
           <li><a class="box-btn-close" href="#"></a></li>
           <li><a class="box-btn-slide" href="#"></a></li>	
           <li><a class="box-btn-fullscreen" href="#"></a></li>
         </ul>
           </div-->
           <!-- /.box-header -->
           <div class="box-body">
             <div class="row">
               <div class="col">
            <form (submit)="updateVideo()" enctype="multipart/form-data" method="post">
             <div class="row">
             <div class="col-12">	


               <div *ngIf="actionStatus==1" class="alert alert-success">
                  <div>
                    <span class="fa fa-check">&nbsp;</span> {{successMessage}}
                  </div>
               </div>
  
               <div *ngIf="actionStatus==2" class="alert alert-error">
                  <div>
                    <span class="fa fa-times">&nbsp;</span> {{errorMessage}}
                  </div>
               </div>
               <div class="form-group">
                  <h5>Category<span class="text-danger">*</span></h5>
                  <div class="controls">
                    <select name="category" id="category" required class="form-control" [(ngModel)]="videoData.category" >
                        <option *ngFor="let t of categoryOptions" value="{{t.value}}">{{t.name}}</option>
                    </select>
                  </div>
                </div>
                
               <div class="form-group">
                  <h5>Language<span class="text-danger">*</span></h5>
                  <div class="controls">
                    <select name="language" id="language" required class="form-control" #language="ngModel" [(ngModel)]="videoData.language" >
                        <option value="0">Select</option>
                        <option *ngFor="let l of languages" value="{{l.id}}">{{l.name}}</option>
                    </select>
                  </div>
                  <div class="form-control-feedback" *ngIf="language.invalid && (language.dirty || language.touched)">
                    <code *ngIf="language.errors.required"> Select language </code>
                  </div>
                  <div class="form-control-feedback" *ngIf="(language.dirty || language.touched)">
                      <code *ngIf="!videoData.language>0"> Select language </code>
                    </div>
                </div>

                
                

               <div class="form-group">
                 <h5>Title <span class="text-danger">*</span></h5>
                 <div class="controls">
                   <input type="text" name="title"  [(ngModel)]="videoData.title" class="form-control" required data-validation-required-message="This field is required"> </div>
                 <!---div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
                 -->
                </div>
  
  
    
                <div class="form-group">
                    <h5>Upload Type<span class="text-danger">*</span></h5>
                    <div class="controls">
                      <select name="uploadType" id="uploadType" required class="form-control" [(ngModel)]="videoData.type" >
                          <option *ngFor="let t of typeOptions" value="{{t.value}}">{{t.name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group" *ngIf="!videoData.thumbnailId  || imageRemoved==1">
                      <label class="text-info">Upload Thumbnail Image<span class="text-danger">*</span></label>
                      <div class="controls">
                        <input type="file" name="file" #thumbnailFile="ngModel" class="form-control" [(ngModel)]="videoData.thumbnailImage" required (change)="onImageChange($event)"> </div>
                        <div class="form-control-feedback" *ngIf="thumbnailFile.invalid && (thumbnailFile.dirty || thumbnailFile.touched)">
                            <code *ngIf="thumbnailFile.errors.required">Missing video thumbnail</code>
                         </div>
                         <div class="form-control-feedback" *ngIf="thumbnailFile.invalid ">
                            <code *ngIf="thumbnailFile.errors.invalid">{{imageError}}</code>
                            <code *ngIf="thumbnailFile.errors.required">Video thumbnail missing</code>
                          <code *ngIf="imageError">{{imageError}}</code>
                       </div>
                    </div>


                    
                <div *ngIf="videoData.thumbnailId && videoData.thumbnailId>0 && imageRemoved==0" class="form-group">
                    <label class="text-info">Uploaded Thumbnail Image<span class="text-danger">*</span></label>
                    <div *ngIf="previewImage" class="col-md-2">
                        <div>
                          <img src="{{previewImage}}" style="width:100%"> 
                          <div class="remove" (click)="removeThumbnail()"> <code> Remove </code></div>
                        </div>
                     </div>
                </div>
                
                <div *ngIf=" imageRemoved==1" class="form-group">
                    <div class="remove" (click)="undoRemovedThumbnail()"> <code> Undo Deleted Image </code></div>
                </div>
    

                  <div *ngIf="videoData.type==1" class="form-group">
                    <h5>Upload file<span class="text-danger">*</span></h5>
                    <div class="controls">
                      <input type="file" name="videFile" class="form-control" required (change)="onFileChange($event)"> </div>
                  </div>
    
               <div *ngIf="videoData.type==2" class="form-group">
                 <h5>URL<span class="text-danger">*</span></h5>
                 <div class="controls">
                   <input type="url" name="path" class="form-control" required data-validation-required-message="This field is required" [(ngModel)]="videoData.url"> </div>
               </div>
    
               <div class="form-group">
                  <h5>Downloadable<span class="text-danger">*</span></h5>
                  <div class="controls">
                    <fieldset>
                      <input name="linkTo" type="radio" id="downloadable1" [value]=1 required [(ngModel)]="videoData.downloadable" >
                      <label for="downloadable1">Yes</label>
                    </fieldset>
                    <fieldset>
                      <input name="linkTo" type="radio" id="downloadable2" [value]=0 [(ngModel)]="videoData.downloadable" >
                      <label for="downloadable2">No</label>
                    </fieldset>
      
                  </div>
                </div>
    
               
              </div>
    
            </div>
             
             
             
             <div class="text-xs-right">
               <button type="submit" class="btn btn-info">Submit</button>
             </div>
           </form>
                 
               </div>
               <!-- /.col -->
             </div>
             <!-- /.row -->
           </div>
           <!-- /.box-body -->
         </div>
         <!-- /.box -->
         
       </section>
       <!-- /.content -->
    